<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <p class="text-center text-base font-semibold text-gray-500">
      We&apos;re partnered with innovators
    </p>
    <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-4 max-w-2xl mx-auto">
      {
        ["microsoft", "hp", "intel", "rmit"].map((partner) => (
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img
              class="h-12"
              src={`/assets/partners/${partner}.jpg`}
              alt={partner}
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
